{
  "root": true,
  "extends": [
    "@10d/eslint-config"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-undef": "off"
  }
}

